<h1>Add a New Todo Here </h1>

<%# action attr tells your form what route to send form data too%>
<form action='/todos' method='post'>
Add todo Content: <input type='text' name='content' value='' placeholder='add content here'> <br/>

Check box if ToDo has been completed: <input type='checkbox' name='complete' value='true'><br/>
<input type='submit' value='Add a Todo'>

</form>